/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
.env
.env.production
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Utility Scripts
public/fix_storage_link.php
public/check_link.php
public/migrate_cloudinary.php
/.fleet
/.idea
/.vscode
/.nova
/.zed
/.phpactor.json

# Vercel
.vercel

# System
.DS_Store
Thumbs.db
*.log

# Laravel Bootstrap Cache (ITO ANG IMPORTANTE PARA SA VERCEL FIX)
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
/bootstrap/cache/config.php
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
